@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dch's new event calender</h1>
    <p>On this website you can easily view upcoming events</p>
    <img src="~/images/dog.png" height="500" width="500" />
</div>